

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-colour: #00BCD4;
  --accent-colour: #536DFE;
  --background-colour: #BDBDBD;
  --overlay-colour: #B2EBF2;
}


.slideshow-container {
  position: relative;
  margin: auto;
  height: 100vh;

}
.mySlide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.mySlide {
  display: none;
  height: 100vh;
}
.numtext{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: absolute;
  bottom: 8px;

}

.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5;
}

@-webkit-keyframes fade {
  from {opacity: .2}
  to {opacity: .5}
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: .5}
}

nav {
  display: flex;
  position: fixed;
  align-items: baseline;
  background-color: var(--main-colour);
  width: 100%;
  color: white;
  top: 0;
  left: 0;
}
.nav-item {
  text-align: center;
  flex-grow: 1;
  padding: 20px;
  font-size: 18px;
  transition: 1s;
}

.nav-item:hover {
  cursor: pointer;
  background-color: var(--accent-colour);
  transition: 1s ease;
}

a {
  text-decoration: none;
  color: white;
}

#overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  rgba(178, 235, 242, 0.5);
  z-index: 2;
  cursor: pointer;
  align-content: center;
  transition: 0.5s;
}

#navover {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 30px;

}

#navover a {
  padding: 10px 20px;
}

#overlay button {
  padding: 10px 10px;
  font-size: 18px;
  background-color: var(--main-colour);
  border-radius: 10px;
  width: 50px;
}

#underlay {
  display: none;
  transition: 0.5s;
}

.wrapper {
  width: 65%;
  margin: 0 auto;
}

.text {
  padding: 40px;
  font-size: 22px;
  margin: 20px 0;
  background-color: var(--background-colour);
}

footer {
  background: var(--accent-colour));
  padding: 20px 0;
}

.footers {
  max-width: 65%;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}
.f-col1 {
  flex: 1;
  color: white;
}
footer p {
  padding: 5px;
}
iframe {
  width: 100%;
}
.f-col2 {
  flex: 1;
}
