
* {
  margin: 0;
  padding: 0;
  --main-colour: #00BCD4;
  --accent-colour: #536DFE;
  --background-colour: #BDBDBD;
}

#showcase {
  background-image: url('remarks.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  position: fixed;
  background-color: var(--main-colour);
  width: 100%;
  color: white;
}
.nav-item {
  text-align: center;
  flex-grow: 1;
  padding: 20px;
  font-size: 18px;
  transition: 1s;
}

.nav-item:hover {
  cursor: pointer;
  background-color: var(--accent-colour);
  transition: 1s ease;
}

a {
  text-decoration: none;
  color: white;
}

#overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  align-content: center;
  transition: 0.5s;
}

#navover {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navover a {
  padding: 0 20px;
}



#underlay {
  display: none;
  transition: 0.5s;
}

.wrapper {
  width: 65%;
  margin: -100px auto;
}

.text {
  padding: 40px;
  margin: 20px 0;
  background-color: var(--background-colour);
}
