@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

p {
  font-family: 'Overpass', sans-serif;
}
h1 {
  font-family: 'Overpass', sans-serif;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-colour: #00BCD4;
  --accent-colour: #536DFE;
  --background-colour: #BDBDBD;
  --overlay-colour: #B2EBF2;
}


.slideshow-container {
  position: relative;
  margin: auto;
  height: 100vh;

}
.mySlide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.mySlide {
  display: none;
  height: 100vh;
}
.numtext{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: absolute;
  bottom: 8px;

}

.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .2}
  to {opacity: .5}
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: .5}
}

nav {
  display: flex;
  position: fixed;
  align-items: baseline;
  background-color: var(--main-colour);
  width: 100%;
  color: white;
  top: 0;
  left: 0;
  z-index: 1;
  transition: top 0.3s;
}
.nav-item {
  text-align: center;
  flex-grow: 1;
  padding: 20px;
  font-size: 18px;
  transition: 1s;
}

.nav-item:hover {
  cursor: pointer;
  background-color: var(--accent-colour);
  transition: 1s ease;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Overpass', sans-serif;
}

.sidenav {
  display: none;
}

.sidepanel {
  width: 0;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--background-colour);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;

}
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidepanel a:hover {
  color: #f1f1f1;
}
.sidepanel .xbtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#openbtn {
  display: block;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  top: 0;
  right: 0;
  height: 60px;
  z-index: initial;
  position: fixed;
}

#openbtn:hover {
  background-color: #444;
}


#overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  rgba(178, 235, 242, 0.5);
  overflow-x: hidden;
  z-index: 2;
  cursor: pointer;
  align-content: center;
  transition: 0.5s;
}

#navover {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 30px;

}

#navover a {
  padding: 10px 20px;
}

#overlay #closebtn {
  width: 50px;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#underlay {
  display: none;
  transition: 0.5s;
}

.wrapper {
  width: 65%;
  margin: 0 auto;
}

.text {
  padding: 40px;
  font-size: 22px;
  margin: 20px 0;
  background-color: var(--background-colour);
}

footer {
  background: var(--main-colour);
  padding: 20px 0;
}

.footers {
  max-width: 65%;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}
.f-col1 {
  flex: 1;
  color: white;
}
footer p {
  padding: 5px;
}
iframe {
  width: 100%;
}
.f-col2 {
  flex: 1;
}


#showcase{
  background-image: url('shopphoto-min.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
#showcase h1 {
  font-size: 50px;
}
#showcase p {
  font-size: 18px;
}

#skishop {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  height: 750px;
  padding: 20px;
}
.card img {
  width: 100%;
}
.price {
  color: grey;
  font-size: 22px;
}
.btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition: 0.5s;
}
.btn:hover {
  opacity: 0.7;
  transition: 0.5s;
}

#proinfo {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  padding: 20px;
}
.procard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  padding: 20px;
}
.procard img {
  width: 100%;
}
.ski {
  color: black;
  text-decoration: none;
  transition: 0.5s;
}
.ski:hover {
  text-decoration: underline;
  transition: 0.5s;
  color: red;
}
.gap-fill {
  background-image: url("thovex-min.jpg");
  height: 300px;
  background-size: cover;
  background-attachment: fixed;
}
#showcasepro {
  background-image: url('cp3-min.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
#showcasepro h1 {
  font-size: 50px;
}
#showcasepro p {
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .sidenav {
    display: block;
  }
  .navigation1 {
    display: none;
  }
}
