* {
  margin: 0;
  padding: 0;
}

#showcase {
  background-image: url('remarks.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}
#logo {
    float: left;
}
.navi a {
  display: inline-block;
  margin-left: 70px;
    font-size: 47px;
}
.navi {
  text-align: center;
}

header {
  background-color: #212121;
  clear: both;
  height: 30%;
}
.navi a {
  text-decoration: none;
  padding: 60px 5px;
  color: #FFFFFF;
  transition: 0.5s;
}
.navi a:hover {
  background-color: #D32F2F;
  transition: 0.5s;
  color: #212121;
  padding-left: 50px;
    padding-right: 50px;
  text-decoration: underline;
}
.navi .icon{
    display: none;
}
